body, html {
    height: 100%;
    margin: 0;
    font-family: Verdana;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #e7e0e0;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #e7e0e0;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  
  #About {background-color: #e7e0e0;}
  #Projects {background-color: #e7e0e0;}
  #Resume {background-color: #e7e0e0;}
  #Misc {background-color: #e7e0e0;}